*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}
body{
	font-family: Arial, sans-serif;
}
nav{
    display: flex;
	padding: 8px;
    flex-direction: row;
    align-items: center;
    background-color: #395A90;
    float: none;
}
.button{
    font-size: 60px;
    margin-left: 2pc;
    /* Fallback: Set a background color. */
    background-color: red;
    
    /*gradient*/
    background-image: linear-gradient(45deg, #f3ec78, #af4261);

    /*show the gradient as a text color*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 1px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    position: fixed;
}
h1 {
    display: block;
    padding-left: 220px;
    padding-right: 300px;
}
.subject_style{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 50px;  
    letter-spacing: 3px;
}

nav ul{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    margin:0px 30px 0px 5px;
    position: relative;
}

nav ul li a:hover{
    color: black;
     background-color: #F7F4DE;
}
.head{
    background-color: #233859;
}
.head:hover{
    background-color: #F7F4DE;
    color: black;
}
img{
    width: 100%;
    height: 91%;
}
#img hr{
    background-color: #233859;
    width: 100%;
    height: 4   px;
}
.topic_ethics{
    font-family: Times New Roman, serif;
    background-color: #F1EEE7;
    padding: 5px;
    font-size: 15px;
}
.topic_ethics p{
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 30px;

}
#topic{
    font-family: Arial Black;
    text-align: center;
    font-size: 27px;   
}
.topic_ethics h3{
    padding-bottom: none;
    padding-left: 10px;
}
#topic_ethics hr{
    padding-bottom: 2px;
}
footer{
    padding: 20px;
    background-color: #233859;
    text-align: center;
    color: white;
}
#footer h3{
    font-family: Verdana, sans-serif;
    font-size: 22px;
}
#footer a{
    color: white;
}

