*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}
body{
	font-family: Arial, sans-serif;
}
nav{
    display: flex;
	padding: 8px;
    align-items: center;
    background-color: #395A90;
    float: none;
}
.subject_style{
    color: white;
    float: right;
    font-weight: bold;
    font-size: 30px;  
    letter-spacing: 3px;
    padding-left: 90px;
    padding-right: 610px;
}
.subject_style h1 a{
    text-decoration: none;
}
.ulist_style{
    width: 100%;
    list-style-type: none;  
    align-items: center;
    float: left;

}
.ulist_style a{
    color: white;
    float: left;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    hover-text: black;
    margin:0px 5px 0px 5px;
}
nav a:hover{
    background-color: #F7F4DE;
    color: black;
    transition: 0.9s;
}
.head{
    background-color: #233859;
}
.head:hover{
    background-color: #F7F4DE;
    color: black;
}
img{
    width: 100%;
    height: 91%;
}
#img hr{
    background-color: #233859;
    width: 100%;
    height: 4   px;
}
.topic_ethics{
    font-family: Times New Roman, serif;
    background-color: #F1EEE7;
    padding: 5px;
    font-size: 15px;
}
.topic_ethics p{
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 30px;

}
#topic{
    font-family: Arial Black;
    text-align: center;
    font-size: 27px;   
}
.topic_ethics h3{
    padding-bottom: none;
    padding-left: 10px;
}
#topic_ethics hr{
    padding-bottom: 2px;
}
footer{
    padding: 20px;
    background-color: #233859;
    text-align: center;
    color: white;
}
#footer h3{
    font-family: Verdana, sans-serif;
    font-size: 22px;
}
#footer a{
    color: white;
}

