*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: rgb(7, 95, 124);
    height: 70px;
    width: 100%;
    line-height: 75px;
    position: fixed;
    
}
nav .logo p{
    font-size: 30px;
    margin-left: 2%;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style:none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
nav li a:hover{
    color: yellow;
    transition: 0.4s ease 0s;
}
img{
    height: 10%;
    width: 100%;
}
body{
    height: auto;
    overflow-x: hidden;
}
div{
    margin-left: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(7, 95, 124);
    color: white;
}